<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <a href="/modules/add" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> 添加模块组 </a>
                </div>
            </div>
            <form action="" method="get">
                <div class="col-md-6">
                    <div class="input-group">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <input class="form-control" name="" type="text" value="" placeholder="模块组名称">
				            <span class="input-group-btn">
				              <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
				            </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="w8p">ID</th>
                <th class="w13p">名称</th>
                <th>备注</th>
                <th class="w13p">创建时间</th>
                <th class="w13p">修改时间</th>
                <th class="w15p">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="center">1</td>
                <td>root</td>
                <td>备注:</td>
                <td class="center">2017-09-08 12:09:18</td>
                <td class="center">2017-09-08 12:09:18</td>
                <td class="center">
                    <a name="edit" class="glyphicon glyphicon-edit" data-link="">修改</a>
                    <a onclick="" class="remove glyphicon glyphicon-trash">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer"></div>
</div>