<div class="panel panel-default">
    <div class="panel-body">
        <br>{{$group := .group}}
        <form class="form-horizontal" method="post" action="{{if $group}} /group/modify {{else}} /group/save {{end}}">
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 项目组名称 </label>
                <div class="col-sm-4">
                    <input type="text" name="name" class="form-control" value="{{$group.name}}" placeholder="请输入项目组名称" {{if $group}} readonly {{else}} {{end}} required>
                </div>
            </div>
            <input type="hidden" name="group_id" class="form-control" value="{{$group.group_id}}">
            <div class="form-group">
                <label class="col-sm-2 control-label"> 项目组备注 </label>
                <div class="col-sm-4">
                    <input type="text" name="comment" class="form-control" value="{{$group.comment}}" placeholder="请输入项目组备注" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" onclick="Form.ajaxSubmit(this.form, {{if $group}} true {{else}} false {{end}})" class="btn btn-primary">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>