<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
            <div class="panel-body">{{$server := .server}}
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>安装步骤</strong></div>
                        <div class="list-group">
                            <a href="#" class="list-group-item"><i class="glyphicon glyphicon-hand-right"></i> 1. 许可协议</a>
                            <a href="#" class="list-group-item active"><i class="glyphicon glyphicon-hand-right"></i> 2. 环境检测</a>
                            <a href="#" class="list-group-item"><i class="glyphicon glyphicon-hand-right"></i> 2. 系统配置</a>
                            <a href="#" class="list-group-item"><i class="glyphicon glyphicon-hand-right"></i> 3. 数据库配置</a>
                            <a href="#" class="list-group-item"><i class="glyphicon glyphicon-hand-right"></i> 4. 正在安装</a>
                            <a href="#" class="list-group-item"><i class="glyphicon glyphicon-hand-right"></i> 5. 安装完成</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="panel-body">
                <!-- 服务器信息 -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>服务器信息</strong></div>
                            <div class="panel-body"></div>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="w13p">参数</th>
                                        <th>值</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="center">IP</td>
                                        <td class="center">{{$server.host}}</td>
                                    </tr>
                                    <tr>
                                        <td class="center">操作系统</td>
                                        <td class="center">{{$server.sys}}</td>
                                    </tr>
                                    <tr>
                                        <td class="center">Go 版本</td>
                                        <td class="center">1.8</td>
                                    </tr>
                                    <tr>
                                        <td class="center">安装目录</td>
                                        <td class="center">/www/code</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 系统环境检测 -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>系统环境检测</strong></div>
                            <div class="panel-body"></div>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="w13p">参数</th>
                                        <th>要求（>=）</th>
                                        <th>值</th>
                                        <th class="w11p">结果</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="center">内存</td>
                                        <td class="center">512M</td>
                                        <td class="center">1G</td>
                                        <td class="center"><i class="glyphicon glyphicon-ok text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <td class="center">CPU</td>
                                        <td class="center">1核</td>
                                        <td class="center">1核</td>
                                        <td class="center"><i class="glyphicon glyphicon-ok text-success"></i></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 目录权限检测 -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>目录权限检测</strong></div>
                            <div class="panel-body"></div>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="w30p">目录</th>
                                        <th>要求</th>
                                        <th class="w11p">结果</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>/www/logs</td>
                                        <td class="center">读/写</td>
                                        <td class="center"><i class="glyphicon glyphicon-ok text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <td>/www/cache</td>
                                        <td class="center">读/写</td>
                                        <td class="center"><i class="glyphicon glyphicon-ok text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <td>/www/cache</td>
                                        <td class="center">读/写</td>
                                        <td class="center"><i class="glyphicon glyphicon-ok text-success"></i></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                </div>
                <!-- 按钮 -->
                <div class="row">
                    <div class="col-sm-offset-10">
                        <a href="/install/license"><button type="button" class="btn btn-warning">上一步</button></a>
                        <a href="/install/config"><button type="button" class="btn btn-primary">下一步</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <footer>
        <p>© Company 2014</p>
    </footer>
</div>