<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <td class="w20p">Git地址</td>
                    <td>ssh://git.code.com/test.git</td>
                </tr>
                <tr>
                    <td>代码分支</td>
                    <td>
                        <strong>master</strong>
                    </td>
                </tr>
                <tr>
                    <td>发布目录</td>
                    <td>code_path</td>
                </tr>
                <tr>
                    <td>目录所属用户</td>
                    <td>user</td>
                </tr>
                <tr>
                    <td>前置命令</td>
                    <td></td>
                </tr>
                <tr>
                    <td>前置命令执行方式</td>
                    <td></td>
                </tr>
                <tr>
                    <td>前置命令超时</td>
                    <td></td>
                </tr>
                <tr>
                    <td>后置命令</td>
                    <td></td>
                </tr>
                <tr>
                    <td>后置命令执行方式</td>
                    <td></td>
                </tr>
                <tr>
                    <td>后置命令超时</td>
                    <td></td>
                </tr>
                <tr>
                    <td>执行命令用户</td>
                    <td></td>
                </tr>
                <tr>
                    <td>更新时间</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
