<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <form action="/module/list" method="get">
                <div class="col-md-6">
                    <div class="input-group">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">模块组</span>
                        <select class="form-control" name="website_id">
                            <option value="">全部</option>
                            {{range $moduleGroup := .moduleGroups}}
                            <option value="{{$moduleGroup.modules_id}}">{{$moduleGroup.name}}</option>
                            {{end}}
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <input class="form-control" name="" type="text" value="" placeholder="模块名">
				            <span class="input-group-btn">
				              <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
				            </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="w13p">模块名</th>
                <th>代码仓库</th>
                <th class="w8p">分支</th>
                <th class="w10p">模块组</th>
                <th class="w13p">修改时间</th>
                <th class="w20p">操作</th>
            </tr>
            </thead>
            <tbody>
            {{range $module := .modules}}
            <tr>
                <td>{{$module.name}}</td>
                <td>
                    <a name="info" data-link="/module/info?module_id={{$module.module_id}}">{{$module.repository_url}}</a>
                </td>
                <td class="center">
                    <label class="text-info">{{$module.branch}}</label>
                </td>
                <td class="center">
                    {{range $moduleGroup := $.moduleGroups}}
                        {{if eq $moduleGroup.modules_id $module.modules_id}}
                            <label class="text-success">{{$moduleGroup.name}}</label>
                        {{end}}
                    {{end}}
                </td>
                <td class="center">
                    {{if eq $module.update_time "0"}}
                    {{else}}
                        {{dateFormat $module.update_time "Y-m-d H:i:s"}}
                    {{end}}
                </td>
                <td class="center">
                    <a name="edit" class="glyphicon glyphicon-edit" data-link="/module/edit?module_id={{$module.module_id}}">修改</a>
                    <a name="config" class="glyphicon glyphicon-cog" data-link="/module/config?module_id={{$module.module_id}}">配置</a>
                    <a name="node" class="glyphicon glyphicon-align-justify" data-link="/module/node?module_id={{$module.module_id}}">节点</a>
                    <a onclick="Layers.confirm('确定删除吗？', '/module/delete?module_id={{ $module.module_id }}');" class="remove glyphicon glyphicon-trash">删除</a>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        {{template "paginator/default.html" .}}
    </div>
</div>
<script type="text/javascript">
    Layers.bindIframe("[name='edit']", "修改模块信息", "550px");
    Layers.bindIframe("[name='info']", "模块详细信息", "530px");
    Layers.bindIframe("[name='config']", "模块配置", "530px");
    Layers.bindIframe("[name='node']", "模块节点配置", "530px");
</script>