<div class="panel panel-default">
    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="" data-toggle="tab" aria-controls="">模块组1</a></li>
            <li><a href="" data-toggle="tab" aria-controls="">模块组2</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="row">
            <form action="" method="get">
                <div class="col-md-9">
                    <div class="input-group">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <input class="form-control" name="" type="text" value="" placeholder="模块名">
				            <span class="input-group-btn">
				              <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
				            </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="w13p">模块名</th>
                <th>代码地址</th>
                <th class="w8p">分支</th>
                <th class="w15p">发布目录</th>
                <th class="w15p">备注</th>
                <th class="w13p">修改时间</th>
                <th class="w15p">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>视频接口</td>
                <td>
                    <a href="#">ssh://git.code.com/test.git</a>
                </td>
                <td class="center">
                    <label class="text-info">master</label>
                </td>
                <td>/www/test</td>
                <td>备注信息</td>
                <td class="center">2017-09-08 19:09:09</td>
                <td class="center">
                    <a name="publish" class="glyphicon glyphicon-ok-circle" data-link="">发布 </a>
                    <a name="publish" class="glyphicon glyphicon-share-alt" data-link="">回滚 </a>
                    <a name="list" class="glyphicon glyphicon-align-justify" data-link="">历史 </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer"></div>
</div>