<div class="panel panel-default">
    <div class="panel-body">
        <ul class="nav">
            <h5><strong><i class="glyphicon glyphicon-hand-down"></i> 模块节点配置</strong></h5>
            <hr>
        </ul>
        {{$moduleNodes := .moduleNodes}}{{$module := .module}}{{$defaultNodeIds := .defaultNodeIds}}
        {{$flag := .flag}}
        <form class="form-horizontal" method="post" action="/module/nodeSave">
            {{range $moduleNode := $moduleNodes}}
            <div class="w230 inline-group">
                <h4><span class="label label-default">{{$moduleNode.nodes_name}}</span>
                <span class="small">
                    <input name="node_id" type="checkbox" data-type="group" value="{{$moduleNode.nodes_id}}" onclick="Module.node(this)" />
                </span>
                </h4>
                <ul class="list-group">
                    {{range $node := $moduleNode.nodes}}
                    <li class="list-group-item">节点{{$node.node_id}}：{{$node.ip}}:{{$node.port}}
                        <span class="pull-right">
                        <input name="node_id" type="checkbox" data-parent="{{$moduleNode.nodes_id}}" data-type="node" value="{{$node.node_id}}" onclick="Module.node(this)" />
                        </span>
                    </li>
                    {{end}}
                </ul>
            </div>
            {{end}}
            {{if eq $flag "insert"}}
            <div class="form-group">
                <div class="col-md-8" style="margin-left:10px;">
                    <a type="button" href="/module/list" class="btn btn-success">完成</a>
                </div>
            </div>
            {{end}}
            <input type="hidden" name="module_id" value="{{$module.module_id}}">
        </form>
    </div>
</div>
<script type="text/javascript" src="/static/style/module/module.js"></script>
<script type="text/javascript">
    Module.defaults({{ $defaultNodeIds }});
</script>