<div class="panel panel-default">
    <div class="panel-body">
        {{$moduleGroups := .moduleGroups}}{{$keywords := .keywords}}{{$modules := .modules}}
        <ul class="nav nav-tabs">
            {{range $moduleGroup := $moduleGroups}}
            <li {{if eq $keywords.modules_id $moduleGroup.modules_id }} class="active" {{end}}><a href="/publish/module?modules_id={{$moduleGroup.modules_id}}" >{{$moduleGroup.name}}</a></li>
            {{end}}
        </ul>
    </div>
    <div class="panel-body">
        <div class="row">
            <form action="" method="get">
                <div class="col-md-9">
                    <div class="input-group">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <input class="form-control" name="keyword" type="text" value="{{$keywords.keyword}}" placeholder="模块名">
                        <input name="modules_id" type="hidden" value="{{$keywords.modules_id}}">
				            <span class="input-group-btn">
				              <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
				            </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="w13p">模块名</th>
                <th>代码地址</th>
                <th class="w13p">发布分支</th>
                <th class="w13p">上一次发布时间</th>
                <th class="w20p">操作</th>
            </tr>
            </thead>
            <tbody>
            {{range $module := $modules}}
            <tr>
                <td>{{$module.name}}</td>
                <td>
                    <a name="code_info" data-link="/publish/info?module_id={{$module.module_id}}">{{$module.repository_url}}</a>
                </td>
                <td class="center">
                    <label class="text-info">{{$module.branch}}</label>
                </td>
                <td class="center">
                    {{if eq $module.last_publish_time "0"}}
                    0
                    {{else}}
                    {{dateFormat $module.last_publish_time "Y-m-d H:i:s"}}
                    {{end}}
                </td>
                <td class="center">
                    <a name="publish" class="glyphicon glyphicon-ok-circle" data-link="">发布 </a>
                    <a name="publish" class="glyphicon glyphicon-share-alt" data-link="">回滚 </a>
                    <a name="list" class="glyphicon glyphicon-align-justify" data-link="">日志 </a>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
    </div>
</div>
<script type="text/javascript">
    Layers.bindIframe("[name='code_info']", "模块详细配置")
</script>