
<div class="panel panel-default">
    <div class="panel-body">
        <ul class="nav">
            <h5><strong><i class="glyphicon glyphicon-hand-down"></i> 回滚代码</strong></h5>
            <hr>
        </ul>
		{{$project := .project}}
        <form class="form-horizontal" method="post" action="/publish/doReset">
			<input type="hidden" name="project_id" value="{{$project.project_id}}">
			<div class="form-group">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 回滚项目： </label>
                <div class="col-sm-4">
                    <input value="{{$project.name}}" type="text" name="name" class="form-control" readonly>
                </div>
            </div>
			<div class="form-group">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span> commit_id： </label>
                <div class="col-sm-4">
                    <input value="" type="text" name="sha1_id" class="form-control" placeholder="请填写 commit_id" required>
                </div>
                <div class="col-sm-4">
                    <span class="text-danger"> * 要回滚到的代码提交的 commit_id，可通过 git log 命令查看</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 回滚说明： </label>
                <div class="col-sm-4">
                    <textarea name="comment" class="form-control" rows="6"></textarea>
                </div>
                <div class="col-sm-4">
                    <span class="text-danger"> * 请详细填写回滚说明</span>
                </div>
            </div>
			<div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" onclick="Form.ajaxSubmit(this.form, false)" class="btn btn-primary">回滚</button>
                </div>
            </div>
        </form>
    </div>
</div>


