<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <form action="" method="get">
                <div class="col-md-9">
                    <div class="input-group">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <input class="form-control" name="" type="text" value="" placeholder="用户名/姓名">
				            <span class="input-group-btn">
				              <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
				            </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="w8p">ID</th>
                <th class="w8p">用户名</th>
                <th class="w8p">姓名</th>
                <th class="w15p">邮箱</th>
                <th class="w10p">手机号</th>
                <th class="w8p">角色</th>
                <th class="w11p">最后登录时间</th>
                <th class="w15p">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="center">1</td>
                <td>root</td>
                <td>root</td>
                <td>root@codepub.com</td>
                <td class="center">12587678978</td>
                <td class="center">
                    <label class="text-info">超级管理员</label>
                </td>
                <td class="center">
                    2017-09-08 12:09:18
                </td>
                <td class="center">
                    <a name="edit" class="glyphicon glyphicon-edit" data-link="">修改</a>
                    <a name="edit" class="glyphicon glyphicon-ok" data-link="">授权</a>
                    <a onclick="" class="remove glyphicon glyphicon-trash">删除</a>
                </td>
            </tr>
            <tr>
                <td class="center">2</td>
                <td>admin</td>
                <td>admin</td>
                <td>admin@codepub.com</td>
                <td class="center">12587678978</td>
                <td class="center">
                    <label class="text-success">管理员</label>
                </td>
                <td class="center">
                    2017-09-08 12:09:18
                </td>
                <td class="center">
                    <a name="edit" class="glyphicon glyphicon-edit" data-link="">修改</a>
                    <a name="edit" class="glyphicon glyphicon-ok" data-link="">授权</a>
                    <a onclick="" class="remove glyphicon glyphicon-trash">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer"></div>
</div>