<div class="panel panel-default">
    <div class="panel-body">
        <ul class="nav">
            <h5><strong><i class="glyphicon glyphicon-hand-down"></i> 用户模块配置</strong></h5>
            <hr>
        </ul>
        {{$userModules := .userModules}}{{$user := .user}}{{$defaultModuleIds := .defaultModuleIds}}
        <form class="form-horizontal" method="post" action="/user/moduleSave">
            {{range $userModule := $userModules}}
            <div class="w230 inline-group">
                <h4><span class="label label-default">{{$userModule.modules_name}}</span>
                <span class="small">
                    <input name="module_id" type="checkbox" data-type="group" value="{{$userModule.modules_id}}" onclick="User.module(this)" />
                </span>
                </h4>
                <ul class="list-group">
                    {{range $module := $userModule.modules}}
                    <li class="list-group-item">{{$module.name}}
                        <span class="pull-right">
                        <input name="module_id" type="checkbox" data-parent="{{$userModule.modules_id}}" data-type="module" value="{{$module.module_id}}" onclick="User.module(this)" />
                        </span>
                    </li>
                    {{end}}
                </ul>
            </div>
            {{end}}
            <input type="hidden" name="user_id" value="{{$user.user_id}}">
        </form>
    </div>
</div>
<script type="text/javascript" src="/static/style/module/user.js"></script>
<script type="text/javascript">
    User.defaults({{ $defaultModuleIds }});
</script>