<div style="position:relative;">
    <div class="row">
        <div class="col col-sm-8 col-md-8"></div>
        <div class="col col-sm-4 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-volume-up"></i> 公告
                </div>
                <div class="panel-body">
                    <div class="col col-sm-12 col-md-12">
                        <a href="javascript:void(0);">1</a>
                    </div>
                    <div class="col col-sm-12 col-md-12">
                        <a href="javascript:void(0);">1</a>
                    </div>
                    <div class="col col-sm-12 col-md-12">
                        <a href="javascript:void(0);">1</a>
                    </div>
                    <div class="col col-sm-12 col-md-12">
                        <a href="javascript:void(0);">1</a>
                    </div>
                    <div class="col col-sm-12 col-md-12">
                        <a href="javascript:void(0);">1</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="position:absolute;top:0;left:0;">
        test
    </div>
</div>