<header role="header" class="site__header header" id="home">
    <div class="header__wrapper">

        <div class="header__brand">
            <img src="/static/style/brand.png" />
            <div class="header__title">

            </div>
        </div>

        <div class="header__account account account--has-login">
            <div class="account__wrapper">
                <img class="account__img" src="/static/style/irfan-maulana.jpg" />
                <span class="account__name">Irfan</span>
            </div>
            <i class="account__arrow fa fa-angle-down js--show-dropdown-menu"></i>

            <div class="account__menu">
                <ul class="account__menu-wrapper">
                    <li class="account__menu-item"><a href="#profil">Profile</a></li>
                    <li class="account__menu-item"><a href="/login/logout">Logout</a></li>
                </ul>
            </div>

        </div>

        <div class="header__nav--mobile">
            <div class="header__nav-btn" id="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

    </div>
</header>


<main role="main" class="site__main main">
    <nav class="main__nav nav">

        <ul class="nav__wrapper">

            <li class="nav__item nav__item--has-child">
                <a href="#">
                    <i class="nav__icon fa fa-desktop"></i> 我的模块
                    <i class="nav__arrow fa fa-angle-down"></i>
                </a>

                <ul class="nav__wrapper nav__wrapper--child">
                    <li class="nav__item--child"><a href="typography.html">模块列表</a></li>
                </ul>
            </li>
            {{if .isAdmin }}
            <li class="nav__item nav__item--has-child">
                <a href="#">
                    <i class="nav__icon fa fa-desktop"></i> 用户管理
                    <i class="nav__arrow fa fa-angle-down"></i>
                </a>

                <ul class="nav__wrapper nav__wrapper--child">
                    <li class="nav__item--child"><a href="typography.html">用户列表</a></li>
                    <li class="nav__item--child"><a href="/user/create">新增用户</a></li>
                </ul>
            </li>
            <li class="nav__item nav__item--has-child">
                <a href="#">
                    <i class="nav__icon fa fa-desktop"></i> 模块管理
                    <i class="nav__arrow fa fa-angle-down"></i>
                </a>

                <ul class="nav__wrapper nav__wrapper--child">
                    <li class="nav__item--child">
                        <a href="typography.html"><i class="nav__icon fa fa-list"></i>模块列表</a></li>
                    <li class="nav__item--child">
                        <a href="cards.html"><i class="nav__icon fa fa-list"></i>新增模块</a></li>
                </ul>
            </li>

            <li class="nav__item nav__item--has-child">
                <a href="#">
                    <i class="nav__icon fa fa-desktop"></i> 系统管理
                    <i class="nav__arrow fa fa-angle-down"></i>
                </a>

                <ul class="nav__wrapper nav__wrapper--child">
                    <li class="nav__item--child"><a href="cards.html">模块配置</a></li>
                    <li class="nav__item--child"><a href="typography.html">系统日志</a></li>
                </ul>
            </li>
            {{end}}
        </ul>

        <div class="footer__wrapper">

            <div class="footer__text">
                <!--<span>Crafted with &nbsp;<i class="fa fa-heart-o"></i>&nbsp; by Irfan Maulana</span>-->
            </div>


        </div>

    </nav>
    <article class="main__content content">
        <div class="content__wrapper">
            <iframe id="main" name="main" src="/main/default" scrolling="yes" style="overflow-y:auto;border:none;" frameborder="yes" width="100%" height="100%"></iframe>
        </div>
    </article>
</main>
<script type="text/javascript">
    $(function() {
        setInterval(function() {
            var mainheight = $("#main").contents().find("body").height();
            var minHeight = $(window).height()
            if (mainheight < minHeight) {
                mainheight = minHeight
            }
            $("#main").height(mainheight);
        }, 200);
        $(".nav__item--child>a").click(function() {
            $("#main").attr("src", this.href);
            $(".nav__item--child").removeClass("nav__item--active")
            $(this).parent().addClass("nav__item--active")
            return false;
        });

    });
</script>