<div class="panel panel-default">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="w10p">列标题1</th>
                    <th class="w8p">列标题2</th>
                    <th>列标题3</th>
                    <th class="w10p">列标题4</th>
                    <th class="w10p">列标题5</th>
                    <th class="w20p">备注</th>
                    <th class="w15p">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ad</td>
                    <td>da</td>
                    <td>da</td>
                    <td>da</td>
                    <td class="center w90 consumer_status">
                        <label class="text-info">waiting</label>
                    </td>
                    <td>ad</td>
                    <td class="center">
                        <a name="edit" class="glyphicon glyphicon-edit" data-link="">修改</a>
                        <a name="edit" class="glyphicon glyphicon-share-alt" data-link="">恢复</a>
                        <a onclick="" class="remove glyphicon glyphicon-trash">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>ad</td>
                    <td>da</td>
                    <td>da</td>
                    <td>da</td>
                    <td class="center w90 consumer_status">
                        <label class="text-info">waiting</label>
                    </td>
                    <td>ad</td>
                    <td class="center">
                        <a name="edit" class="glyphicon glyphicon-edit" data-link="">修改</a>
                        <a name="edit" class="glyphicon glyphicon-share-alt" data-link="">恢复</a>
                        <a onclick="" class="remove glyphicon glyphicon-trash">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>ad</td>
                    <td>da</td>
                    <td>da</td>
                    <td>da</td>
                    <td class="center w90 consumer_status">
                        <label class="text-info">waiting</label>
                    </td>
                    <td>ad</td>
                    <td class="center">
                        <a name="edit" class="glyphicon glyphicon-edit" data-link="">修改</a>
                        <a name="edit" class="glyphicon glyphicon-share-alt" data-link="">恢复</a>
                        <a onclick="" class="remove glyphicon glyphicon-trash">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>ad</td>
                    <td>da</td>
                    <td>da</td>
                    <td>da</td>
                    <td class="center w90 consumer_status">
                        <label class="text-info">waiting</label>
                    </td>
                    <td>ad</td>
                    <td class="center">
                        <a name="edit" class="glyphicon glyphicon-edit" data-link="">修改</a>
                        <a name="edit" class="glyphicon glyphicon-share-alt" data-link="">恢复</a>
                        <a onclick="" class="remove glyphicon glyphicon-trash">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer"></div>
</div>
<script type="text/javascript">
    Layers.bindIframe("[name='edit']");
</script>