<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" method="post" action="">
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 输入框</label>
                <div class="col-sm-4">
                    <input type="text" name="" class="form-control" placeholder="请输入" required>
                </div>
                <div class="col-sm-4">
                    <span class="text-danger"> * 限制在15个字符串以内</span>
                </div>
            </div>
            <div class="form-group has-success">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 输入框</label>
                <div class="col-sm-4">
                    <input type="text" name="" class="form-control" placeholder="请输入" required>
                </div>
                <div class="col-sm-4">
                    <span class="text-danger"> * 成功输入框</span>
                </div>
            </div>
            <div class="form-group has-error">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 输入框</label>
                <div class="col-sm-4">
                    <input type="text" name="" class="form-control" placeholder="请输入" required>
                </div>
                <div class="col-sm-4">
                    <span class="text-danger"> * 失败输入框</span>
                </div>
            </div>
            <div class="form-group has-warning">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 输入框</label>
                <div class="col-sm-4">
                    <input type="text" name="" class="form-control" placeholder="请输入" required>
                </div>
                <div class="col-sm-4">
                    <span class="text-danger"> * 警告输入框</span>
                </div>
            </div>
            <div class="form-group has-success has-feedback">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 输入框</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                </div>
                <div class="col-sm-4">
                    <span class="text-danger"> * 含有图标的输入框</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 输入框</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" aria-describedby="helpBlock">
                    <span class="help-block">这是一个提示block</span>
                </div>
                <div class="col-sm-4">
                    <span class="text-danger"> * 下方含有提示 block</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 输入框</label>
                <div class="col-sm-4">
                    <input type="text" name="" class="form-control input-sm" placeholder="请输入" required>
                </div>
                <div class="col-sm-4">
                    <span class="text-danger"> * class="input-sm" 尺寸</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 禁用框 </label>
                <div class="col-sm-4">
                    <input type="text" name="" class="form-control" value="不可修改" placeholder="请输入" disabled>
                </div>
                <div class="col-sm-4">
                    <span class="text-danger"> * 不可修改</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 下拉框</label>
                <div class="col-sm-4">
                    <select name="" class="form-control">
							<option value="1">选择1</option>
							<option value="2">选择2</option>
							<option value="3">选择3</option>
						</select>
                </div>
                <div class="col-sm-4">
                    <span class="text-danger"> * 下拉选择</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 多选框</label>
                <div class="col-sm-4">
                    <select multiple class="form-control">
							<option value="1">选择1</option>
							<option value="2">选择2</option>
							<option value="3">选择3</option>
							<option value="4">选择4</option>
							<option value="5">选择5</option>
						</select>
                </div>
                <div class="col-sm-4">
                    <span class="text-danger"> * 按 Ctrl 键多选 </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 单选框 </label>
                <div class="col-sm-4">
                    <label class="radio-inline">
							<input type="radio" name="radio" value="1" checked="checked">是
						</label>
                    <label class="radio-inline">
							<input type="radio" name="radio" value="0">否
						</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span>复选框</label>
                <div class="col-sm-4">
                    <label class="checkbox-inline">
							<input type="checkbox" name="check_code" value="1" checked="checked"> 篮球
						</label>
                    <label class="checkbox-inline">
							<input type="checkbox" name="check_code" value="0"> 足球
						</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 文本框 </label>
                <div class="col-sm-4">
                    <textarea name="data" class="form-control" rows="6"></textarea><br/>
                </div>
                <div class="col-sm-4">
                    <span class="text-danger"> * 最多100个字符串 </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" name="submit" class="btn btn-success">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>