<meta name="robots" content="index, follow" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>{{.title}}</title>
<link rel="stylesheet" href="/static/style/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/style/bem-kit.min.css">
<link rel="stylesheet" type="text/css" href="/static/style/lightweight-admin-template.css">
<link rel="stylesheet" type="text/css" href="/static/style/font-awesome/css/font-awesome.min.css">
<link rel="icon" href="/static/style/favicon.ico">
<script src="/static/style/jquery.min.js"></script>
<script src="/static/style/lightweight-admin-template.js"></script>