body {
    font-size: 13px;
}

a {
    color: #666;
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

a:hover,
a:focus {
    text-decoration: none;
}

th {
    text-align: center;
    background: #efefef;
}

.center {
    text-align: center;
}

.panel-body {
    padding-top: 10px;
}

.panel-heading {
    /*padding: 8px;*/
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel {
    margin-bottom: 13px;
    /*margin-right: 3px;*/
}

.label {
    padding: .2em .6em .2em;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    padding-right: 6px;
    padding-left: 6px;
}

.control-label {
    padding-right: 15px;
}

#paginator {
    margin-left: 10px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 4px;
}

.div-center {
    margin: 0 auto;
}

.table {
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
}

.w5p {
    width: 5%;
}

.w6p {
    width: 6%;
}

.w7p {
    width: 7%;
}

.w8p {
    width: 8%;
}

.w9p {
    width: 9%;
}

.w10p {
    width: 10%;
}

.w11p {
    width: 11%;
}

.w12p {
    width: 12%;
}

.w13p {
    width: 13%;
}

.w14p {
    width: 14%;
}

.w15p {
    width: 15%;
}

.w16p {
    width: 16%;
}
.w17p {
    width: 17%;
}
.w18p {
    width: 18%;
}
.w19p {
    width: 19%;
}
.w20p {
    width: 20%;
}
.w21p {
    width: 21%;
}
.w22p {
    width: 22%;
}
.w25p {
    width: 25%;
}

.w30p {
    width: 30%;
}

.w35p {
    width: 35%;
}

.w40p {
    width: 40%;
}

.w45p {
    width: 45%;
}

.w50p {
    width: 50%;
}

.w55p {
    width: 55%;
}

.w60p {
    width: 60%;
}

.w65p {
    width: 65%;
}

.w70p {
    width: 70%;
}

.w75p {
    width: 75%;
}

.w80p {
    width: 80%;
}

.w85p {
    width: 85%;
}

.w90p {
    width: 90%;
}

.w95p {
    width: 95%;
}

.w100p {
    width: 100%;
}

.w50 {
    width: 50px;
}

.w60 {
    width: 60px;
}

.w70 {
    width: 70px;
}

.w80 {
    width: 80px;
}

.w90 {
    width: 90px;
}

.w100 {
    width: 100px;
}

.w110 {
    width: 110px;
}

.w120 {
    width: 120px;
}

.w130 {
    width: 130px;
}

.w140 {
    width: 140px;
}

.w150 {
    width: 150px;
}

.w160 {
    width: 160px;
}

.w170 {
    width: 170px;
}

.w180 {
    width: 180px;
}

.w190 {
    width: 190px;
}

.w200 {
    width: 200px;
}

.w210 {
    width: 210px;
}

.w220 {
    width: 220px;
}

.w230 {
    width: 230px;
}

.w240 {
    width: 240px;
}

.w260 {
    width: 260px;
}

.w280 {
    width: 280px;
}

.w300 {
    width: 300px;
}

.w400 {
    width: 400px;
}

.w500 {
    width: 500px;
}

.w600 {
    width: 600px;
}

.w700 {
    width: 700px;
}

.w800 {
    width: 800px;
}

.inline-group {
    display: inline-table;
}

ul,
li {
    font-size: 13px;
}

.table-responsive {
    margin-bottom: 15px;
    overflow-x: visible;
    overflow-y: visible;
    width: 100%;
}

.center-div {
    width: 100px;
    height: 50px;
    position: relative;
    margin-left: 50%;
    left: -width/2;
}

#failedBox ul {
    padding-left: 20px;
}

.layui-layer-content iframe {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.layui-layer-lan .layui-layer-title {
    background: linear-gradient(to right, #0178bc 0%, #00bdda 100%);
}


/**
 *  滚动条
 */

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.86, #00bdda), color-stop(0.52, #0178bc), color-stop(0.34, #0178bc));
}

textarea {
    resize: none;
}

.panel-green {
    border-color: #00a65a;
}

.panel-green > .panel-heading {
    color: #fff;
    background-color: #00a65a;
    border-color: #00a65a;
}

.panel-yellow {
    border-color: #f39c12;
}

.panel-yellow > .panel-heading {
    color: #fff;
    background-color: #f39c12;
    border-color: #f39c12;
}

.panel-red {
    border-color: #dd4b39;
}

.panel-red > .panel-heading {
    color: #fff;
    background-color: #dd4b39;
    border-color: #dd4b39;
}

.panel-blue {
    border-color: #0178bc;
}

.panel-blue > .panel-heading {
    color: #fff;
    background-color: #0178bc;
    border-color: #0178bc;
}

.panel-purple {
    border-color: #7044a6;
}

.panel-purple > .panel-heading {
    color: #fff;
    background-color: #7044a6;
    border-color: #7044a6;
}

.panel-grey {
    border-color: #eee;
}

.panel-grey > .panel-heading {
    color: #000;
    background-color: #eee;
    border-color: #eee;
}

.huge {
    font-size: 30px;
}