<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{.title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style/lightweight-admin-template.css">
    <link rel="stylesheet" type="text/css" href="/static/style/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style/font-awesome/css/font-awesome.min.css">
    <link rel="icon" href="/static/style/favicon.ico">

    <script src="/static/style/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/style/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/style/layui/layer/layer.js"></script>
    <script src="/static/style/jquery/jquery.form.js"></script>
    <script src="/static/style/common/layers.js"></script>
    <script src="/static/style/common/form.js"></script>
    <script src="/static/style/common/common.js"></script>
    <script src="/static/style/module/install.js"></script>

    <link rel="stylesheet" href="/static/style/content-style.css">
</head>
<body style="padding-top: 60px">
    <header role="header" class="site__header header navbar-fixed-top" id="home">
        <div class="header__wrapper">
            <div class="header__brand">
                <a href="/install/index"><img src="/static/style/brand.png" /></a>
                <div class="header__title">
                </div>
            </div>
            <div class="header__account account account--has-login">
                <div class="account__wrapper">
                    <img class="account__img" src="/static/style/irfan-maulana.jpg" />
                    <span class="account__name"><a style="color: whitesmoke" href="https://github.com/bzppx/bzppx-codepub" target="_blank">开源地址</a></span>
                </div>
            </div>
        </div>
    </header>
    {{.LayoutContent}}
    {{template "common/foot.html" .}}
</body>

</html>