<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/static/style/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style/jquery-chosen/bootstrap-chosen.css">
    <link rel="stylesheet" href="/static/style/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/style/font-awesome/css/font-awesome.min.css">

    <script src="/static/style/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/style/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/style/jquery-chosen/chosen.jquery.min.js"></script>
    <script src="/static/style/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="/static/style/bootstrap-select/js/i18n/defaults-zh_CN.min.js"></script>
    <script src="/static/style/layui/layer/layer.js"></script>
    <script src="/static/style/jquery/jquery.form.js"></script>
    <script src="/static/style/common/layers.js"></script>
    <script src="/static/style/common/form.js"></script>
    <script src="/static/style/common/common.js"></script>
    <script src="/static/style/common/date.js"></script>

    <link rel="stylesheet" href="/static/style/content-style.css">
</head>

<body style="margin:0 8px 0 0;overflow-x: hidden;overflow-y:auto;">
    <div id="failedBox" style="margin-bottom: 10px" class="hide"></div>
    {{.LayoutContent}}
</body>

</html>