<!DOCTYPE HTML>
<html lang="zh">

<head>
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/static/style/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style/content-style.css">
    <script src="/static/style/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/style/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/style/layui/layer/layer.js"></script>
    <script src="/static/style/common/layers.js"></script>
</head>

<body style="margin:0;overflow:hidden;">
    {{.LayoutContent}}
</body>

</html>